//- Name your own classes!
$bagel-grid-namespace: "grid" !default;
$bagel-grid-column-namespace: "col" !default;
$bagel-wrapper-namespace: "bagel_wrapper" !default;

//- Do you want a side of custom grid sizes to go with that?
//- By default, the sizes included are 1, 2, 3, and 4
$bagel-small-custom-grid: true !default;
$bagel-medium-custom-grid: true !default;
$bagel-large-custom-grid: true !default;
$bagel-col-groups: (3,4) !default; //- $col-groups are the column divisions you want in your custom grid


//- Gutter width accepts any unit
$bagel-gutter-width: 20px !default;
$bagel-gutter-using-percent: false !default; //- Make sure that this option is marked false if you aren't using percentages


//- Breakpoints
$bagel-breakpoint-medium: 1000px !default;
$bagel-breakpoint-small: 700px !default;


//- Wrapper
$bagel-wrapper: true !default;
$bagel-wrapper-large: 900px !default;
$bagel-wrapper-medium: 90% !default;
$bagel-wrapper-small: 98% !default;


// Pushes and Pulls
//- The pushes and pulls are a little funky.
//- If you're using anything but a % for the gutters the push and pull get a little weird but I don't believe it can be fixed without JS.
//- In the gutters options, make sure to select false in the second option if you aren't using %.
//- The percent version of them work because of extra math that can't be done in conjunction with any other type
$bagel-pushes: false !default;
$bagel-pulls: false !default;


//-Extras
$bagel-exceptions: true !default;


@import 'wrapper';
@import 'customGridGeneration';
@import 'customPushPull';
@import 'customPushPull-using%';
@import 'gridExceptions';
