// Centers the column in the grid and clears the row of all other columns
@if ($bagel-exceptions) {
  .#{$bagel-grid-column-namespace}--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // Displays the column as the first in its row
  .#{$bagel-grid-column-namespace}--display-first {
    float: left;
  }

  // Displays the column as the last in its row
  .#{$bagel-grid-column-namespace}--display-last {
    float: right;
  }

// Removes gutters from the columns
  .#{$bagel-grid-namespace}--no-gutter {
    margin-left: 0;
    width: 100%;
    .#{$bagel-grid-column-namespace} {
      padding-left: 0;
    }
  }

// Align column to the bottom.
  .#{$bagel-grid-column-namespace}--ab {
    vertical-align: bottom;
  }

  // Align column to the top.
  .#{$bagel-grid-column-namespace}--at {
    vertical-align: top;
  }

// added conditional displays
  .conditionalDisplay {
    display: none;
  }
  @media (min-width: $bagel-breakpoint-medium) {
  .display--l{
      display: inline-block;
    }
  }
  @media (min-width: $bagel-breakpoint-small) and (max-width: $bagel-breakpoint-medium) {
  .display--m{
      display: inline-block;
    }
  }
  @media (max-width: $bagel-breakpoint-small) {
  .display--s{
      display: inline-block;
    }
  }
}
