@if ($bagel-wrapper) {
  .#{$bagel-wrapper-namespace} {
  position: relative;
  margin: 0 auto;

  // add additional desired wrapper characteristics here

  }
  @media (max-width: $bagel-breakpoint-small)
  {
    .#{$bagel-wrapper-namespace}
    {
      max-width: $bagel-wrapper-small;
    }
  }
  @media (max-width: $bagel-breakpoint-medium) and (min-width: $bagel-breakpoint-small)
  {
    .#{$bagel-wrapper-namespace}
    {
      max-width: $bagel-wrapper-medium;
    }
  }
  @media (min-width: $bagel-breakpoint-medium)
  {
    .#{$bagel-wrapper-namespace}
    {
      max-width: $bagel-wrapper-large;
    }
  }
}
